/* === Import Css === */
@import url(./src/css/mobileFirst.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* === Root - Design System === */
:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-black2: #333;
  --clr-primary: #9b72f2;
  --clr-secondary: #535bf2;
  --clr-base: #212529;
  --clr-three: #ffd23f;

  --font-family: 'Roboto', sans-serif;

  --font-size-text: 1.2rem;
  --font-size-normal: 1.6rem;
  --font-size-subTitle: 1.8rem;

  --margin: 2rem auto;
  --margin-top: 2rem;
  --margin-bottom: 2rem;
  --margin-right: 1rem;
  --margin-left: 1rem;

  --padding: 1rem;
  --padding-bottom: 1.5rem 3rem;

  --border-radius: 1rem;
  --border-radius-plus: 2rem;
  --border-radius-circle: 50%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* === General CSS === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: inherit;
}

ul {
  list-style: none;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

body {
  width: 10%;
}

h1 {
  font-size: 3.2rem;
  line-height: 0.1rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* === Prefer Color === */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */
