/* === Mobile === */
@media (max-width: 640px) {
  .header {
    width: 100%;
    padding: 1rem;
    /*   border: 2px solid green; */
    margin-bottom: var(--margin-bottom);
  }
}

/* === Media Screen === */
@media (min-width: 768px) {
  .header {
    width: 100%;
    padding: 1rem;
    /*  border: 2px solid red; */
    margin-bottom: var(--margin-bottom);
  }
  .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .navigation .navigation-logo {
    width: 20rem;
    display: flex;
    align-items: center;
  }
  .navigation-logo .img-coffee {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
  .navigation-logo span {
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .navigation__plus {
    width: 35rem;
  }
  .navigation__plus--list,
  .navigation__media--list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navigation__plus--list .list-item,
  .media-item {
    font-size: 1.2rem;
    font-weight: 400;
    color: #f2f2f2;
    z-index: 0;
  }
  .navigation__media {
    width: 15rem;
  }

  /* === User img === */
  .user-figure {
    width: 3rem;
    height: 3rem;
  }
  .user-figure .user-img {
    border-radius: 50%;
  }
}

/* === Hover && before and after === */
@media (min-width: 768px) {
  .list-item:hover {
    color: var(--clr-primary);
    cursor: pointer;
  }
  .list-item::before {
    content: ' ';
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f2f2f2;
    display: flex;
    position: relative;
    top: 2rem;
    border-radius: 1rem;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }
  .list-item:hover::before {
    transform: scale(1);
  }
}

/* === main - App */
@media (min-width: 768px) {
  .app {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-main {
    /* max-width: 1440px; */
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*  outline: 2px solid #fff; */
    padding: 1rem;
  }
  .main-figure {
    width: 20rem;
    height: 4rem;
  }
  .main-figure-img {
    object-fit: cover;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  .main-text {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .app-started {
    /*  outline: 2px solid #fff; */
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 2rem;
  }
  .app-started p {
    width: 50%;
    padding: 2rem;
    font-size: 1.8rem;
    filter: brightness(0.5);
    margin-bottom: 3rem;
    font-weight: 700;
  }
  .app-started button {
    width: 15rem;
    padding: 1.5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    left: 2rem;
  }
  .app-started button:active {
    transform: scale(0.9);
  }
}
@media (min-width: 768px) {
  .app-list {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
  }
  .media__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
  }
  .media__list--plus {
    width: 100%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .media-item a {
    font-size: 1rem;
    margin-right: 2rem;
  }
  .media-item span {
    font-size: 1.6rem;
    font-weight: 700;
  }
}

/* === Screen= == */
/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {
}

/*=============== #Option Screen  ===================================*/
@media only screen and (min-width: 1280px) {
}

/*=============== Laptop Large Screen  ===================================*/
@media only screen and (min-width: 1440px) {
}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {
}
